body {
  background-image: url("images/EAP_bgd.jpg");
}

.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  opacity: 0.85;
}

.poetry_title {
  font-family: "Cormorant Garamond", serif;
  font-size: 1.6em;
  font-weight: 700 !important;
  text-align: center;
}

.poetry_box {
  opacity: 0.80;
  background-color: rgb(255,255,255);
  text-align: left;
  font-family: "Cormorant Garamond", serif;
  font-size: 1.35em;
  font-style: italic;
  font-weight: 500;
  width: 26%;
  margin-left: auto;
  margin-right: auto;
  padding: 35px 50px 50px;
}
