body {
  background-image: url("images/EAP_bgd.jpg");
}

button {
  display: block;
  font-family: "Cormorant Garamond", serif;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.85;
  width: 25%;
  height: 40px;
  line-height: 1;
  font-size: 18px;
  letter-spacing: 1px;
  border: 1px solid rgb(12, 10, 34);
  background: rgb(106, 92, 84);
  color: white;
  border-radius: 40px;
}

#footer {
  position: fixed;
  bottom: 30px;
  width: 100%;
}
#center {
  margin: 0 auto;
}

.lighter {
  width: 20%;
  font-size: .9em;
  border: 1px solid rgb(109, 95, 86);
  background-color: rgb(186, 177, 166);
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  opacity: 0.85;
}

.poetry_title {
  font-family: "Cormorant Garamond", serif;
  font-size: 1.6em;
  font-weight: 700 !important;
  text-align: center;
}

.poetry_box {
  opacity: 0.8;
  background-color: rgb(255, 255, 255);
  text-align: left;
  font-family: "Cormorant Garamond", serif;
  font-size: 1.35em;
  font-style: italic;
  font-weight: 500;
  width: 26%;
  margin-left: auto;
  margin-right: auto;
  padding: 35px 50px 50px;
}
